In [6]:
import pandas as pd

df_migracion=pd.read_excel("DATA-MIGRACION.xls")

df_migracion

,Data Source,Indicadores del desarrollo mundial,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,Last Updated Date,2023-09-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
3,Aruba,ABW,Migración neta,SM.POP.NETM,0.0,-569.0,-609.0,-646.0,-684.0,-726.0,...,134.0,88.0,177.0,170.0,218.0,367.0,412.0,0.0,501.0,NaN
4,NaN,AFE,Migración neta,SM.POP.NETM,-90849.0,-1348.0,-24259.0,-16266.0,37452.0,11041.0,...,-92842.0,-199608.0,394925.0,-864708.0,-343075.0,-366105.0,-187410.0,-48955.0,-179444.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Migración neta,SM.POP.NETM,-6603.0,-6713.0,-7466.0,-7874.0,-8266.0,-8573.0,...,-40468.0,-56637.0,-14819.0,-31383.0,-33495.0,-34137.0,-33469.0,-15050.0,-15050.0,NaN
265,"Yemen, Rep. del",YEM,Migración neta,SM.POP.NETM,-17145.0,-17494.0,-17846.0,-18217.0,-18583.0,-18968.0,...,-23747.0,-30048.0,-38355.0,-39688.0,-39672.0,-39699.0,-39769.0,-86100.0,-101468.0,NaN
266,Sudáfrica,ZAF,Migración neta,SM.POP.NETM,18909.0,56098.0,68068.0,70976.0,74419.0,80687.0,...,63794.0,290874.0,644996.0,-866101.0,-10681.0,27265.0,22728.0,30852.0,10934.0,NaN
267,Zambia,ZMB,Migración neta,SM.POP.NETM,-3894.0,-4357.0,-4756.0,-5029.0,-5214.0,-5370.0,...,15574.0,16580.0,16283.0,17285.0,20268.0,18019.0,18019.0,9015.0,9015.0,NaN
268,Zimbabwe,ZWE,Migración neta,SM.POP.NETM,-8256.0,-8582.0,-8931.0,-9369.0,-10064.0,-10889.0,...,-59918.0,-59918.0,-59918.0,-59918.0,-59918.0,-59918.0,-59918.0,-29955.0,-25005.0,NaN

In [7]:
# mostrar filas solo de alemania

df_alemania = df_migracion[df_migracion['Data Source'] == 'Alemania']

df_alemania

,Data Source,Indicadores del desarrollo mundial,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
58,Alemania,DEU,Migración neta,SM.POP.NETM,100380.0,121350.0,137698.0,152170.0,162533.0,170903.0,...,342555.0,369027.0,397921.0,432017.0,430803.0,392587.0,360560.0,334055.0,312735.0,NaN