In [16]:
import pandas as pd
df_educacion=pd.read_excel("DATA-EDUCACION.xls")

df_educacion

,Data Source,Indicadores del desarrollo mundial,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,Last Updated Date,2023-09-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.0
3,Aruba,ABW,Tasa de finalización de la educación de nivel ...,SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,101.255234,101.555870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,AFE,Tasa de finalización de la educación de nivel ...,SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,66.028069,66.263290,66.115013,66.932449,68.167793,69.499100,69.990547,70.825378,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Tasa de finalización de la educación de nivel ...,SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,"Yemen, Rep. del",YEM,Tasa de finalización de la educación de nivel ...,SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,61.386909,NaN,NaN,64.500092,NaN,NaN,NaN,NaN,NaN,NaN
266,Sudáfrica,ZAF,Tasa de finalización de la educación de nivel ...,SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,89.105278,88.068489,NaN,92.124298,93.236481,NaN,NaN,NaN
267,Zambia,ZMB,Tasa de finalización de la educación de nivel ...,SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,78.582474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,Zimbabwe,ZWE,Tasa de finalización de la educación de nivel ...,SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.854950,97.411469,100.912598,99.207138,96.014954,93.238541,89.320374,90.902550,86.107933,NaN

In [43]:
# mostrar filas solo de alemania

df_alemania = df_educacion[df_educacion['Data Source'] == 'Alemania']

df_alemania

,Data Source,Indicadores del desarrollo mundial,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
58,Alemania,DEU,Tasa de finalización de la educación de nivel ...,SE.PRM.CMPT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.309227,97.242844,98.986351,98.30188,99.117043,101.587769,99.844048,99.388832,NaN,NaN